.sensor-block {
  margin: 80px 160px;
}

.sensor-info {
  display: flex;
  flex-direction: column;
}

.sensor-url, .sensor-url * {
  font-size: 20px;
  text-decoration: none;
  color: #584ba9;
}

.sensor-url {
  margin-bottom: 20px;
}

.sensor-name-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sensor-name {
  font-size: 36px;
  font-weight: bold;
  color: #584ba9;
}

.sensor-buttons {
  display: flex;
  flex-direction: row;
}

.sensor-buttons > * {
  margin-right: 20px;
}

.sensor-id {
  margin-top: 20px;
  font-size: 28px;
  color: #584ba9;
}

.sensor-type {
  margin-top: 10px;
  font-size: 20px;
  color: #584ba9;
}

.sensor-chart-inputs {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.sensor-chart-inputs input {
  border: 3px solid #584ba9;
  border-radius: 16px;
  margin-right: 20px;
  padding: 5px;
  font-size: 16px;
}


.sensor-edit-form, .sensor-delete-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 540px;
  height: 200px;
  text-align: center;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: #3B3C40;
  padding: 30px;
}

.sensor-edit-form > *, .sensor-delete-form > * {
  margin: 20px auto;
}

.sensor-edit-form input {
    width: 350px;
    margin: 20px auto;
    padding: 9px 5px;
    background: #FFFFFF;
    border: 1px solid #3B3C40;
    /* box-sizing: border-box; */
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
  }

.sensor-edit-form input:focus {
    border: 1px solid #584BA9;
    background-color: transparent;
    outline: none;
  }

  .sensor-delete-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
