.mainDiv
{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    align-items: center;
    color: rgba(88, 75, 169, 0.7);
    padding: 2.5% 8%;
}