.mainDiv
{
    width: 102px;
    height: 68px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(200px);
    border-radius: 11px;
    color: #584BA9;
    text-align: center;
}
.mainDiv a
{
    font-weight: bold;
    font-size: 0.87em;
}
.mainDiv a:link
{
    color: #584BA9;
    text-decoration: none;
}
.mainDiv a:visited
{
    color: #584BA9;
    text-decoration: none;
}
@media (max-width: 480px)
{
    .mainDiv
    {
        width: 90%;
    }
}